.prodDetails-img{
    border: 1px solid #BFBFBF;
    padding: 30px;
}
.icon-star-icon {
    color: #FFB900;
}
.moreProduct-details{
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.vertical-carousel{
    transform: rotate(90deg);
    margin-top: 15px;
}
.text-14{
    font-size: 14px;
}