h1 {
    font-size: rem(70);
    // @include breakpoint(ipad-max) {
    //     font-size: 3.5rem;
    // }
    // @include breakpoint(portrait-mobile-max) {
    //     font-size: 3rem;
    // }
    // @include breakpoint(custom-small-mobile-max) {
    //     font-size: 2.2rem;
    // }
}

h2 {
    font-size: rem(40);
    // @include breakpoint(ipad-max) {
    //     font-size: 2.9rem;
    // }
    // @include breakpoint(portrait-mobile-max) {
    //     font-size: 2.0rem;;
    // }
}
 
h3 {
    font-size: rem(30);
    // @include breakpoint(ipad-max) {
    //     font-size: 2.3rem;
    // }
    // @include breakpoint(custom-small-mobile-max) {
    //     font-size: 1.9rem;
    // }
}

h4 {
    font-size: rem(24);
    // @include breakpoint(ipad-max) {
    //     font-size: 2.1rem;
    // }
    // @include breakpoint(custom-small-mobile-max) {
    //     font-size: 1.6rem;
    // }
}

h5 {
    font-size: rem(20);
    // @include breakpoint(ipad-max) {
    //     font-size: 1.8rem;
    // }
    // @include breakpoint(custom-small-mobile-max) {
    //     font-size: 1.3rem;
    // }
}

h6 {
    font-size: rem(16);
    // @include breakpoint(ipad-max) {
    //     font-size: 1.5rem;
    // }
    // @include breakpoint(custom-small-mobile-max) {
    //     font-size: 1.3rem;
    // }
}




















