<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="title mb-4">NeoSTORE</h3>
                    <div class="search d-flex align-items-center mb-4">
                        <img src="/assets/images/svg-icon/mail-icon.svg" alt="email icon" class="me-1">
                        <input type="text" class="form-control" placeholder="Your email address">
                        <button class="btn btn--red">Subscribe</button>
                    </div>
                    <ul class="p-0 m-0 footerLinks">
                        <li class="mb-2">
                            <a href="javascript:void(0);" class="footerLinks__items">Contact Info</a>
                        </li>
                        <li class="mb-0">
                            <a href="javascript:void(0);" class="footerLinks__items">+91 12345 67890     |     +91 12345 67890</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="footerLinks__items">17 Princess Road, London, Greater London NW1 8JR, UK</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="/assets/images/svg-icon/fb-icon.svg" alt="fb-icon" class="me-2"></a>
                            <a href="javascript:void(0);"><img src="/assets/images/svg-icon/insta-icon.svg" alt="instagram-icon" class="me-2"></a>
                            <a href="javascript:void(0);"><img src="/assets/images/svg-icon/twitter-icon.svg" alt="twitter-icon"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">
                            <h6 class="footer--title">Catagories</h6>
                            <ul class="p-0 m-0 footerLinks">
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Popular</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Chair</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Table</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Sofa</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Cupboard</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Lamp</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h6 class="footer--title">CUSTOMER SERVICE</h6>
                            <ul class="p-0 m-0 footerLinks">
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">My Account</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Discount</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Returns</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Orders History</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Order Tracking</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h6 class="footer--title">Furniture</h6>
                            <ul class="p-0 m-0 footerLinks">
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Living Room Furniture</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Bar Furniture</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Bedroom Furniture</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Kids Furniture</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Accent Furniture</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Book Shelves</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h6 class="footer--title">USEFUL LINKS</h6>
                            <ul class="p-0 m-0 footerLinks">
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Promotions</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="footerLinks__items">Sitemap</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="text-center">
            <p class="p-0 m-0 text-white">©Neostore - All Rights Reserved</p>
        </div>
    </div>
</footer>
