.auth{
    .auth-content{
        .log-in-box{
            background: #FFFFFF;
            box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.06);
            border-radius: rem(20);
            padding: rem(50) rem(32);
            .login{
                &__title{
                    @include fontsize(24px, 700, $text-red-color);
                    line-height: rem(23);
                }
                form{
                    .form-label{
                        @include fontsize(14px, 700, $text-grey-color); 
                        line-height: rem(17);
                    }
                    .sign-up-link {
                        @include fontsize(14px, 400, $text-grey-color); 
                        line-height: rem(17);
                        .sign-up-anchor{
                            @include fontsize(16px, 700, #4F4F4F);  
                            line-height: rem(19);
                            text-decoration: underline;
                        }
                    }
                    .forget-password-link{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
