/*color*/
$primary:#BB0100;
$secondary:#7F7F7F;

/*bg-color*/
$color-white:#FFFFFF;
$color-black:#000000;
$bg-light: #E5E5E5;

/*text-color*/
$text-red-color: #E91B1A;
$text-dark-color: #282627;
$text-dark-color2:#4F4F4F;
$text-grey-color:#666666;

/*border-color*/
$border-light:#BFBFBF;

/*font-family*/
$fonts-path: "../../fonts" !default;

/*Icomoon*/
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../fonts" !default;
$icon-star-icon: "\e900";
$icon-ic_lamb: "\e907";
$icon-ic_sofa: "\e908";
$icon-ic_chair: "\e909";
$icon-ic_cupboard-path1: "\e901";

/*font-size*/
$base-size:16;

$enable-negative-margins:true;